/* stylesheet for The Odin Project - Project 2 A Landing Page */
* {
    box-sizing: border-box;
}

:root {
    --site-dark: #1F2937;
    --site-grey: #E5E7EB;
    --site-white: #F9FAF8;
    --white-subtext: #E5E7EB;
    --button-blue: #3882F6;
    --hero-heading: 900 4.8rem Roboto, sans-serif;
    --para-text: 1.6rem Roboto, sans-serif;
    --hero-subtext: 1.8rem Roboto, sans-serif;
    --logo-text: 2.4rem Roboto, sans-serif;
    --services-header: 900 3.6rem Roboto, sans-serif;
    --blockquote-text: 100 italic 3.6rem Roboto, sans-serif;
    --cta-header: 700 1.8rem Roboto, sans-serif;
}

html {
    font-size: 62.5%;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--site-dark);
    color: var(--site-white);
}

section {
    padding: 1em 2em;
}

h1 {
    font: var(--hero-heading);
}

h2 {
    font: var(--services-header);
}

h3 {
    font: var(--cta-header);
}

p {
    font: var(--para-text);
}
nav > ul {
    list-style: none;
}
.flex {
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
}
/* -- NAVIGATION -- */
.navigation-container {
    width: 100%;
    max-width: 100vw;
    position: fixed;
    top: 0;
    height: 110px;
    padding: 1em;
    z-index: 999;
}
.nav-link {
    font: var(--hero-subtext);
    text-decoration: none;
    color: var(--site-white);
    text-transform: uppercase;
}
.nav-link:hover {
    background-color: var(--site-white);
    color: var(--site-dark);
}
.main-section {
    position: relative;
    margin-top: 110px;
    max-width: 100vw;
}
/* -- HERO SECTION -- */
.hero-section {
    min-height: 60vh;
}
.hero-text {
    font: var(--hero-subtext);
    color: var(--white-subtext);
}
.cta-button {
    border-radius: 10px;
    border: 0;
    width: 100px;
    height: 35px;
    cursor: pointer;
    font: 700 1.8rem Roboto, sans-serif;
    color: var(--site-white);
    padding: 0.4em;
}
.filled {
    background-color: var(--button-blue);
}
.contact-section,
.services-section {
    background-color: var(--site-white);
    color: var(--site-dark);
}
.testimonials-section {
    background-color: var(--site-grey);
    color: var(--site-dark);
}

